* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --svg-color: #E43636;
    --secondary-color: #F6EFD2;
    --tertiary-color: #E2DDB4;
    --text-color: #000000;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.card {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    background: linear-gradient(to top, var(--secondary-color), var(--tertiary-color));
    box-shadow: 0 0 4px #000;
}

.card img {
    width: 150px;
    margin-bottom: 5px;
    padding: 5px;

}

.card h1 {
    margin-bottom: 20px;
    color: #E43636;
}

.card p {
    margin-bottom: 20px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.newsletter h2 {
    color: #8b0a0a;
    font-size: 1rem;
    margin-bottom: 13px;
    width: 100%;
}

.newsletter input {
    border: 1px solid #a08d50 ;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.newsletter button {
    width: 100%;
    background-color: var(--svg-color);
    border: none;
    padding: 8px;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: 0.5s  ease-in-out;
    cursor: pointer;
    font-weight: 700;
}

.newsletter button:hover {
    background-color: #d11111;
    box-shadow: 0 4px 10px #000;
    text-shadow: 0 0 3px #000;
}