* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fire-engine-red: #cb0119ff;
--raisin-black: #231F20;
--mint-cream: #F3F7F0;
--white: #ffffffff;
--tropical-indigo: #9191E9;

}

.body {
    background-color: #F3F7F0;
    height: 100vh;
}

.container {
    display: flex;
    border: 3px solid red;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.container h1 {
    margin-bottom: 2.5rem;
}

.grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 20px;
   min-width: 90%;
   min-height: 300px;   
}


.card {
    /* background-color: #84894A; */
    border: 2px solid blue;
    width: 100%;
   height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.grid a {
    display: grid;
    text-decoration: none;

}

/* Card -1 structure */

.card-1 {
    max-width: 100%;
    max-height: 100%;
}

.card-1 img {
    max-width: 100%;
    
   
}
