* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

:root {
    --fire-engine-red: #cb0119ff;
    --raisin-black: #231F20;
    --mint-cream: #F3F7F0;
    --white: #ffffffff;
    --tropical-indigo: #9191E9;
    --primary-btn-color: #FF8600;
    

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        gap: 5px;
    background-color: var(--tropical-indigo);

}

.container h1 {
    margin-top: 10rem;
    margin-bottom: 0;
    color: #031926;
    font-family: Arial, Helvetica, sans-serif;
    
}

.card-holder {
    margin: 4rem;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 0 10px var(--raisin-black);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2.3rem;
    gap: 1rem;
    box-sizing: border-box;
       
        

}

.card {
    box-shadow: 0 0 10px var(--raisin-black);
    border: none;
    background-color: var(--mint-cream);
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    padding: 2rem;
   
}


.text-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;}

.textt-card {

}

.button {
    display: flex;
    gap: 20px;
    justify-content: flex-end;    
}

.cart-btn {
background: #218380;
color: var(--mint-cream);
padding: 10px 20px;
/* border: 1px solid #000; */
border-radius: 12px;
font-weight: 500;
font-family: Arial, Helvetica, sans-serif;
box-shadow: 0 0 4px var(--raisin-black);
/* text-shadow: 0 0 3px var(--raisin-black); */
transition: 0.2s ease-in-out;

}
.checkout-btn {
background: #3772FF;
color: var(--white);
text-shadow: 0 0 3px var(--raisin-black);
padding: 10px 20px;
font-family: Arial, Helvetica, sans-serif;
/* border: 1px solid #000; */
border-radius: 12px;
font-weight: 500;
/* box-shadow: 0 0 4px var(--raisin-black); */
transition: 0.2s ease-in-out;


}

.cart-btn:hover {
    padding: 0 23px;
  box-shadow: 0 1px 5px var(--raisin-black);
  background-color: var(--fire-engine-red);
  cursor: pointer;
  font-weight: 700;
}
.checkout-btn:hover {
    padding: 0 23px;
    color: var(--raisin-black);
  box-shadow: 0 1px 5px var(--raisin-black);
  text-shadow: none;
  background-color: #FA9F42;
  cursor: pointer;
  font-weight: 700;

}


@media screen and (width <=1024px) {
    .card-holder {
        grid-template-columns: auto;
    }
}