* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.task-card {
  background-color: #1e1e1e;
  padding: 3rem;
  border-radius: 0.5rem;
  border: solid 1px #000;
  box-shadow: 0 0 5px #deb887;
  box-shadow: 0 0 10px #deb887;
}

.task-card h2 {
  margin-bottom: 1rem;
}

.task-card input {
  background-color: #333333;
  border: none;
  outline: none;
  padding: 1rem 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  margin-right: 0.3rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#add-task-btn {
  background-color: #0d40ad;
  color: #fff;
  padding: 1rem 0.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  text-shadow: 0 0 2px #000;
}

#add-task-btn:hover {
  background-color: #043294;
  box-shadow: 0 0 2px #fff;
}
.task-card ul {
  margin-top: 1rem;
  padding: 0.5rem;
  list-style: none;
}

li {
  background-color: #333333;
  margin: 6px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

li button {
  background-color: #d32f2f;
  color: #fff;
  font-weight: bold;
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  border: none;
  transition: ease-in-out;
  cursor: pointer;
  margin: 0 5px;
  text-transform: capitalize;
  text-shadow: 0 0 2px #000;
}

li button:hover {
  background-color: #b71c1c;
  box-shadow: 0 0 2px #121212;
}

.completed {
  text-decoration: line-through #000000;
  opacity: 0.6;
}
