* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

nav {
    padding: 0;
    background-color: #000dff;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: space-around;
    align-items: center;

}

.nav-bar a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;


}

.nav-bar a:hover {
    text-shadow: 0 0 5px #000;
}

.drop-down-content {
    display: none;
    background-color: #1621fd;

}


.nav-bar .drop-down:hover .drop-down-content {
    display: block;
    position: absolute;

    background-color: #000dff;
    border-radius: 4px;
}

.drop-down-content a:hover {
    background-color: #323cfc;
}

.signup-btn {
    color: #fff;
    background-color: #000dff;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.signup-btn:hover {
    background-color: #000abf;
    transition: 1s ease-in-out;
}